<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pinyougou.user.impl.dao.SmsCodeMapper">
    <resultMap id="map" type="com.pinyougou.user.api.pojo.SmsCode">
        <result property="smsCode" column="sms_code" javaType="java.lang.Integer" jdbcType="INTEGER"/>
        <result property="use" column="is_use" javaType="java.lang.Boolean" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="list">
        id,mobile,sms_code,is_use
    </sql>

    <select id="selectByMobile" resultMap="map" parameterType="string">
        select
        <include refid="list"/>
        from tb_sms_code
        where mobile = #{mobile}
        order by add_time desc
        limit 1
    </select>

    <insert id="insert" parameterType="com.pinyougou.user.api.pojo.SmsCode">
        insert into tb_sms_code
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="mobile != null">
                mobile,
            </if>
            <if test="smsCode != null">
                sms_code,
            </if>
            <if test="use != null">
                is_use,
            </if>
            add_time,
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="mobile != null">
                #{mobile},
            </if>
            <if test="smsCode != null">
                #{smsCode},
            </if>
            <if test="use != null">
                #{use},
            </if>
            now(),
        </trim>
        <selectKey keyProperty="id" order="AFTER" resultType="long">
            select last_insert_id()
        </selectKey>
    </insert>

    <update id="update" parameterType="com.pinyougou.user.api.pojo.SmsCode">
        update tb_sms_code
        <set>
            <if test="mobile != null">
                mobile = #{mobile},
            </if>
            <if test="smsCode != null">
                sms_code = #{smsCode},
            </if>
            <if test="use != null">
                is_use = #{use},
            </if>
        </set>
        where id = #{id}
    </update>
</mapper>